* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
}

.page-container {
    min-height: 100vh;
    width: 100vw;
    position: relative;
}

.backgrounds-container {
    min-height: 100vh;
    width: 100%;
}

.background-top-container {
    height: 30vh;
    background-image: url("assets/images/background-pattern-desktop.svg");
}

.background-bottom-container {
    height: 70vh;
    background-color: antiquewhite;
}

.content-card-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.content-card {
    height: 500px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250px); /* Half of min-height */
    overflow-y: scroll;
}

.main-header-content-container {
    height: 20%;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-header-bullet-point-container {
    height: 30px;
    width: fit-content;
}

.main-header-bullet-point {
    height: 100%;
    width: 100%;
}

.main-header {
    height: fit-content;
    margin: 0;
    margin-left: 15px;
}

.content-card-body-container {
    margin: 20px;
    margin-top: 0;
    flex-grow: 1;
}

.dropdown-details, .dropdown-summary {
    all: unset;
    display: block;
}

.dropdown-container {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid purple;
}

.dropdown-details {
    margin-bottom: 30px;
}

.dropdown-button {
    border: none;
    background-color: transparent;
    height: 31px;
    width: 30px;
    background-image: url("assets/images/icon-plus.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
}

.dropdown-button-open {
    background-image: url("assets/images/icon-minus.svg");
}

.dropdown-summary, .dropdown-content {
    font-size: 16px;
}

.dropdown-summary:hover {
    color: purple;
}

.dropdown-content {
    color: purple;
}

@media (max-width: 600px) {

    .html, body {
        font-size: 5vw;
    }

    .content-card {
        width: 80%;
    }

    .background-top-container {
        background-image: url("assets/images/background-pattern-mobile.svg");
    }

    .dropdown-summary, .dropdown-content {
        max-width: 75%;
        font-size: 16px;
    }

}