* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
}

.page-container {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-card {
    height: 50%;
    width: 40%;
    border-radius: 10px;
    background-color: white;
    display: flex;
}

.result-half {
    height: 100%;
    width: 50%;
    border-radius: 10px;
    background: linear-gradient(to bottom, #6543f0, #312cea);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-label {
    font-weight: bold;
    margin: 10% 0;
    color: lightgray;
}

.result-score-container {
    height: 40%;
    width: 50%;
    border-radius: 50%;
    background: radial-gradient(circle, #4e21ca, #2421ca);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.result-score {
    font-size: 4rem;
    color: white;
}

.total {
    color: lightgray;
}

.result-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-text-short-description, .result-text-long-description {
    text-align: center;
}

.result-text-short-description {
    margin-bottom: 5%;
}

.result-text-long-description {
    margin: 0 5%;
}

.metrics-half {
    flex-grow: 1;
    width: 50%;
    margin: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.summary-label {
    margin-bottom: 2.5%;
}

.attribute-container {
    min-height: 50%;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 5%;
    gap: 20px;
}

.attribute {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5%;
    padding: 0 2.5%;
}

.attribute-label {
    margin-left: 5px;
}

.score-label {
    flex-grow: 1;
    text-align: right;
}

.continue-button {
    all: unset;
    width: 100%;
    height: 10%;
    border-radius: 999px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 5%;
}

.continue-button:hover {
    background: linear-gradient(to bottom, #6543f0, #312cea);
}

@media (max-width: 1100px) {
    .content-card {
        width: 55%;
    }
}

@media (max-width: 900px) {
    .content-card {
        width: 70%;
    }
}

@media (max-width: 600px) {

    .content-card {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .result-half {
        height: 45%;
        width: 100%;
        border-radius: 0 0 10% 10%;
    }

    .result-label {
        margin-bottom: 5%;
    }

    .result-score-container {
        height: 300px;
        width: 33.33%;
        border: 1px solid black;
    }

    .result-label, .result-text-short-description {
        font-size: 1.5rem;
    }

    .result-text-long-description {
        margin-bottom: 10%;
    }

    .metrics-half {
        height: 55%;
        width: 95%;
        margin: 2.5%;
        padding: 0;
    }

    .attribute-container {
        flex-grow: 1;
    }

    .attribute {
        flex-grow: 1;
    }

    .continue-button {
        width: 95%;
        margin: auto 2.5%;
        margin-top: 2.5%;
        margin-bottom: 0;
    }
}